.career-pic__foto {
	border-radius: 9px;
	width: 87%;
}

.headline {
    font-size: 250%;
    margin: 1% 0 4% 0;
    cursor: default;
}

.career-pic {
	width: 40%;
    float: left;
    height: 100%;
}

.career-list {
	float: left;
	width: 60%;
	list-style-type: none;
}

.career-list__item:href {
	background: #33c2e9;
}

.career-list__item {
	width: 100%;
    position: relative;
}

.career-blok {
	background: white;
    border-radius: 8px;
    margin-bottom: 4%;
    width: 80%;
    float: right;
    color: #000000a1;
    /* box-shadow: -8px 8px #0000000d; */
    border: 1px solid #f2f2f2;
}

.career-title {
	font-size: 133%;
	margin: 15px 0 11px 15px;
}

.career-occ {
	font-size: 111%;
	margin: 0 0 5px 15px;;
}

.career-time {
	font-size: 111%;
	margin: 0 0 21px 15px;;
}

.career-year {
	border-radius: 50%;
    background: #0dd2e7;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 9%;
    bottom: 51%;
}

.betweenpoints {
    position: absolute;
    left: 10%;
    height: 88%;
    border-left: 1px dotted #00000033;
    top: 51%;
}

.career-year__text {
	position: absolute;
    left: -43px;
    margin-top: -21%;
    font-size: 85%;
}
