.header__left {
    width: 50%;
    float: left;
    margin: 0.5% 0;
}

.header__right {
    width: 50%;
    float: left;
    margin-top: 2.2%;
    text-align: right;
}

.head_content {
	width: 77%;
}

.ava {
    float: left;
}

.ava_foto {
	border: 3px solid #aba9a9;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background: url(https://pp.userapi.com/c848628/v848628635/10a700/9-hLjeCJUPQ.jpg) -77px -93px;
    background-size: 279%;
}

.fio {
    float: left;
    font-size: x-large;
    margin-left: 5%;
    margin-top: 4.5%;
    cursor: default;
}

.my_contact {
    font-size: x-large;
    text-decoration-style: dotted;
    color: hsl(186, 89%, 48%);
}

.my_contact:hover {
   color: #05e6ff;
}