.sidebar {
	margin-top: 4%;
    width: 22%;
    float: left;
    margin-right: 7%;
}

.navigation {
}

.navigation-list {
}

.navigation-list__lia {
    list-style-type: none;
    font-size: 133%;
    text-align: right;
    padding: 3% 9% 3% 0;
}

.padding-selected-menu {
    font-weight: bold;
    padding: 5% 9% 5% 0;
    color: hsl(186, 89%, 48%);
}

.bluebar {
    width: 7px;
    height: 50px;
    background: hsl(186, 89%, 48%);
    float: right;
}

ul.navigation-list li a {
    text-decoration: none;
    color: black;
    transition: 300ms;
}

ul.navigation-list li a:hover {
    color: hsl(186, 89%, 48%);
}

ul.navigation-list li a.color-selected-menu {
    color: hsl(186, 89%, 48%);
    cursor: default;
}