.portfolio {}

.headline {}

.works {}

.works-item {
	list-style-type: none;
	width: 29%;
	display: inline-block;
	margin-left: 3%;
    margin-bottom: 2.1%;
}

.works-link {
	text-decoration: none;
}

.works-pic {
	margin-bottom: -4px;
}

.works-pic-img {
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	width: 100%;
}

.works-desc {
	background: white;
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
}

.works-title {
	color: #0dd2e7;
    padding-top: 7%;
    padding-left: 6%;
}

.works-about {
	color: #000000a1;
	padding-top: 1%;
    padding-left: 6%;
    font-size: 90%;
}

.works-type {
	font-size: 111%;
    padding: 9% 7%;
    color: #31313157;
}

.works-type-title {
	display: inline-block;
	margin-left: -1%;
}

.icon-mobile--style {
	font-size: 0.8em;
}

#job1:hover .works-title {
	color: red;
}
#job2:hover .works-title {
	color: red;
}
#job3:hover .works-title {
	color: red;
}
#job4:hover .works-title {
	color: red;
}
#job5:hover .works-title {
	color: red;
}
