*{ 
	margin: 0;
	padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: #f6f6f6;
    font-family: 'El Messiri', Arial, Tahoma, sans-serif;
}

.wrapper {
    position:relative;
    min-height:100%;
    height:auto!important;
    overflow:hidden;
}

.wrapper:after {
    content: "";
    height: 60px;
    display: block;
}

.header {
    background: white;
}

.menu-selection {
    display: none;
}

/* --------------------------------- Здесь начинается контент --------------------------------- */
.main_section {
    margin-top: 1px;
}

.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.content {
    width: 71%;
    float: left;
    margin-top: 3%;
}

/* --------------------------------- Здесь начинается подвал --------------------------------- */
.main_footer {
    background: #414141;
    height: 60px;
    margin-top: -60px;
    position: absolute;
    z-index: 999;
    width: 100%;
}

/* --------------------------------------------------------------------------------------------- */
.cf:before,
.cf:after {
content: "";
display: table;
}
.cf:after {
clear: both;
}