@media screen and (max-width: 1093px) {
	.head_content {
    	width: 100%;
	}

	.mainfoto {
		width: 201px;
    	height: 201px;
    	background: url(https://pp.userapi.com/c848628/v848628635/10a700/9-hLjeCJUPQ.jpg) -124px -171px;
    	background-size: 177%;
	}

	.sidebar {
		width: 24%;
		margin-right: 4%;
	}

	.betweenpoints {
    	border-left: 1px dotted #000000;
	}

	.header__right {
		margin-top: 2.5%;
	}
}

@media screen and (max-width: 900px) {
	.left_room {
		margin-left: 5%;
	}

	.right_room {
		width: 50%;
	}

	.fio {
		font-size: 133%;
	}
	
	.header__right {
		margin-top: 3.4%;
	}

	.my_contact {
		font-size: 133%;
	}

	.navigation-list__lia {
    	font-size: 111%;
	}

	.right_room__informayion p {
    	font-size: 111%;
	}

	.left_foot_c__design {
		letter-spacing: 0;
	}
}

@media screen and (max-width: 764px) {
	.menu-selection {
		display: block;
	}
	.sidebar {
    	display: none;
	}
	/* --------------------------------- */
	.visibility {
		display: none;
		position: absolute;
    	z-index: 999;
    	width: 100%
	}

	.navigation-list {
		background: white;
		padding-top: 40px;
	}

	.navigation-list__lia {
		padding: 15px 0 10px 0;
		float: left;
		width: 33%;
		text-align: center;
	}

	.external:hover .visibility {
		display: block;
	}
	/* --------------------------------- */
	.head_content {
    	width: 100%;
	}

	.header__right {
    	margin-top: 2.7%;
	}

	.content {
    	width: 100%;
	}

	.left_room {
    	float: none;
    }

    .mainfoto {
		margin-left: auto;
    	margin-right: auto;
    }

    .right_room {
    	width: 100%;
	}

	.right_room__headline {
		text-align: center;
		margin: 5% 0 5% 0;
		font-size: 220%;
	}

	.menu-selection {
		width: 100%;
		height: 47px;
		background: #c3c3c3;
		position: relative;
	}

	.square {
		width: 27px;
		height: 27px;
		border: 3px solid #f2f2f2;
		position: absolute;
		right: 48%;
    	top: 9%;
    	padding: 0 5px 5px 5px;
    	border-radius: 25%;
	}

	.strip {
		border: 2px solid #f2f2f2;
		width: 23px;
		margin-top: 5px;
	}

	.left_foot_c {
		width: 70%;
	}

	.right_foot_c {
		width: 30%;
	}

	.left_foot_c__design {
		margin-top: 19px;
	}
}

@media screen and (max-width: 638px) {
	.header__left {
		float: none;
		margin-left: auto;
    	margin-right: auto;
    	width: 100%;
	}

	.header__right {
		float: none;
		width: 100%;
		margin-bottom: 2.7%;
		margin-top: 0;
	}

	.left_foot_c {
		float: none;
		width: 100%;
	}

	.left_foot_c__design {
		text-align: center;
	}

	.right_foot_c {
		float: none;
		width: 100%;
	}

	.right_foot_c ul {
	    float: none;
	    width: 130px;
	    margin-left: auto;
	    margin-right: auto;
	}

	.wrapper:after {
		height: 110px;
	}

	.main_footer {
    	height: 110px;
    	margin-top: -110px;
	}

	.square {
		right: 45%;
	}

	.career-pic {
	    width: 100%;
	    float: none;
	    height: 100%;
	}

	.career-pic__foto {
    	width: 100%;
	}

	.career-list {
    	float: none;
    	width: 100%;
    	margin-top: 20px;
	}

	.works-item {
		display: block;
		width: 100%;
		margin-bottom: 50px;
		margin-left: 0;
	}
	
	.works-title {
		font-size: 300%;
	}
	
	.works-about {
		font-size: 220%;
	}
	
	.works-type {
		font-size: 220%;
	}
}

@media screen and (max-width: 474px) {
	.navigation-list {
    	padding-top: 90px;
	}

	.navigation-list__lia {
		float: none;
		width: 100%;
		padding-top: 0;
		text-align: left;
		width: 157px;
		margin-left: auto;
		margin-right: auto;
	}

	.header__right {
		margin-bottom: 5%;
    	margin-top: 5%;
	}

	.square {
		right: 43%;
	}
}

@media screen and (max-width: 394px) {
	.wrapper:after {
		height: 149px;
	}

	.main_footer {
    	height: 149px;
    	margin-top: -149px;
	}

	.square {
		right: 44%;
	}

	.career-year__text {
    	left: -34px;
    }

    .betweenpoints {
    	border-left: 1px dotted #00000073;
	}
}

@media screen and (max-width: 349px) {
	.fio {
    	font-size: 127%;
	}

	.square {
		right: 42%;
	}

	.career-year__text {
    	left: -34px;
    }

    .betweenpoints {
    	border-left: 1px dotted #00000073;
	}
}

@media screen and (max-width: 319px) {
	.fio {
		width: 45%;
	    margin-bottom: 20px;
	    margin-top: 0;
	}

	.my_contact {
		float: right;
    	margin-bottom: 15px;
	}

	.square {
		right: 41%;
	}

	.career-year__text {
    	left: -34px;
    }
}