@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?imvtql');
  src:  url('fonts/icomoon.eot?imvtql#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?imvtql') format('truetype'),
    url('fonts/icomoon.woff?imvtql') format('woff'),
    url('fonts/icomoon.svg?imvtql#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-briefcase:before {
  content: "\f0b1";
}
.icon-rocket:before {
  content: "\f135";
}
.icon-user-secret:before {
  content: "\f21b";
}
.icon-commenting:before {
  content: "\f27a";
}
